@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  color-scheme: light dark;
  background-color: #202124;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

#repeatButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: url(/repeat.png) transparent 0 0 no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-animation: 6s linear infinite spin;
  animation: 6s linear infinite spin;
  margin-top: -3em;
}

.icons {
  display: inline-block;
  width: 128px;
  height: 564px;
  overflow: hidden;
  background: #fff url(/spinner.png) repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

.spinner-container {
  overflow: hidden;
  height: 582px;
  padding: 1em;
  transform: scale(0.62, 0.62);

  display: flex;
  transition: 0.3s transform;
}

.spinner-repeat-container {
  display: flex;
  align-items: center;
  margin: -80px 0;
}

.gradient-fade {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 0px;
  left: 16px;
  background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
  );
}

h1 {
  font-size: 3.2em;
  text-align: center;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer-container {
  position: static;
}

.footer {
  width: 100%;
  height: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
@media screen and (max-width: 1000px) {
  .spinner-container {
    transform: scale(0.55, 0.55);
  }
  .logo-container {
    margin-top: 3em;
  }
  .logo-container img {
    width: 55%;
  }
  #repeatButton {
    margin-top: -2em;
  }
  .footer {
    height: 2rem;
    margin-top: 8em;
  }
  .spinner-repeat-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .spinner-container {
    transform: scale(0.4, 0.4);
  }
  .logo-container {
    margin-top: 3em;
  }
  .logo-container img {
    width: 45%;
  }
  #repeatButton {
    margin-top: -2em;
  }

  .footer {
    height: 1.5rem;
    margin-top: 8em;
  }
  .spinner-repeat-container {
    flex-direction: column;
  }
}
